div[feed='loading'] *{
  overflow: hidden;
}

div[feed='loading'] .guest-review-header{
  background: none;
  border-radius: 10px;
}

.guest-review-header >:nth-child(1){
  width: 40%;
}

.guest-review-header >:nth-child(2){
  width: 60%;
}

div[feed='loading'] .guest-review-header span{
  background: lightgrey;
  border-radius: 5px;
  color: lightgrey;
  height: 15px;
  width: 80%;
  margin: 7px 0;
}
div[feed='loading'] .guest-review-header h1{
  height: 55px;
  background: lightgrey;
  border-radius: 5px;
  color: lightgrey;
  width: 80%;
  margin: 7px 0;
}

div[feed='loading'] .guest-review-header h5{
  background: lightgrey;
  border-radius: 5px;
  color: lightgrey;
 height: 20px;
}

div[feed='loading'] .guest-review-header div:nth-child(1) span:nth-child(1){
  height: 30px;
}

div[feed='loading'] .guest-review-body >:nth-child(1){
  width: 65%;
  height: 30px;
  background: lightgrey;
  border-radius: 10px;
  color: lightgrey;
}

div[feed='loading'] .guest-review-body >:nth-child(2){
  width: 100%;
  height: 250px;
  background: lightgrey;
  border-radius: 10px;
  color: lightgrey;
}

div[feed='loading'] .guest-review-body >:nth-child(3){
  display: none;
}