.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0; 
}

.masonry-item {
  margin-bottom: 0;
  break-inside: avoid-column;
}

.uploaded-image{
  width: 100px;
  height: 200px;
  aspect-ratio: 3/2;
}
