div[feed='loading']{
}
div[feed='loading'] .feed-info-details{
  min-height: 300px;
  width: 100%;
  background: lightgrey;
  border-radius:10px ;
}
div[feed='loading'] .feed-info-details > *{
  color: lightgrey;
}

