.main-header {
  width: 100%;
  height: fit-content;
  background: white;
}

.logo-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.logo{
  font-size: 25px;
}
.menu{
  display: flex;
  width: fit-content;
  gap: 20px;
}
.menu .icon{
  font-size: 30px;
}

.filter-header{
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  margin: 10px 0;
  padding:0 10px;
  border-radius: 7px;
}

.filter-search{
  display: flex;
  align-items: center;
  min-height: 40px;
}

.filter-selection{
  border-top: 1px solid grey;
  display: flex;
  height: 40px;
}

.filter-selection > div{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
}

.mini-header {
  position: fixed !important;
  top: 0; left: 0;
  width: 100%;
  height: fit-content;
  background-color: white;
  transition: all 0.3s ease;
  transform: translateY(-100%);
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  box-shadow: var(--box-shadow);
  z-index: 1;
}

.mini-header.slide-down {
  transform: translateY(0%);
}

.mini-header i{
  font-size: 21px;
}

.mini-header > div{
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
  gap: 7px;
}

.mini-filter-selection{
  display: flex;
  gap: 10px;
}

.mini-filter-selection span{
  color: var(--secondary-color);
}
