@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@350&display=swap');

body, html{
  padding: 0;
  margin: 0;
}
*{
  font-family: 'Ubuntu', sans-serif;
}

.feeds-container{
  width: 100vw;
  position: relative;
  height: 100vh !important;
  overflow: scroll;
}

div[data-container='feed']{
  height: auto !important;
  position: absolute;
  min-height: 100dvh;
  left: 0; top: 0;
  width: 100vw;
}

div[data-container='map']{
  width: 100vw;
  height: 100vh;
}

.map-toggle-button{
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 15px;
  border: none;
  outline: none;
  background: var(--secondary-color);
  border-radius: 10px;
  color: white;
  font-size: 21px;
  display: inline-block;
  box-shadow: var(--box-shadow);
  }
  
  div[data-shown='shown'] {
    display: block;
  }
  
  div[data-shown='hidden'] {
  display: none;
}
